<article id="product">
    <section class="img">
        <a href="#">
        <img src="{{car.coverImage}}" alt="image de {{ car.title }}" />
        </a>
    </section>
    <section class="description">
        <h2 class ="card-title my-4">{{car.title}}</h2>
        <p>{{car.price}} &euro; / jour</p>   
    </section>
    <div>
        <bold class="text-muted text-primary text-italic">#{{ car.category.name }}</bold>
    </div>
    <a class="btn" href="#">Voir ce produit</a>
</article>