{% extends 'base.html.twig' %}

{% block title %}Compte de {{user.fullname}}{% endblock %}

{% block body %}
<div class="container">
    <section class="row align-items-center" >
        <div class="col-3 text-center my-4">
            <img src="{{user.avatar}}" class="avatar mb-3" alt="photo de {{user.fullname}}"><br>
            <span class="badge badge-primary mb-3">{{user.cars | length}} annonces</span>
        </div>
        <div  class="col-9">      
            <h1>{{ user.fullname }}</h1>
            {% if user is same as(app.user) %}
                <div class="my-3">
                    <a href="#" class="btn mr-2">Modifier mes informations</a>
                    <a href="#" class="btn mr-2">Modifier mon mot de passe</a>
                    <a href="#" class="btn mr-2">Mes reservations</a>
                </div>
            {% endif %}
        </div>
        {% if user.cars|length > 0 %}
            <div id="cars" class="row mb-4 mt-3">
                {% for car in user.cars %}
                        {% include 'partials/_product.html.twig' with {'car' : car}%}
                {% endfor %}
            </div>         
        {% else %}
            <div class="alert alert-warning my-3">
                <p><strong>{{user.fullname}}</strong> n'a pas encore d'annonces sur le site !</p>
            </div>
        {% endif %}
    </section>
</div>
{% endblock %}
